#header {
    font-family: Arial, Helvetica, sans-serif;
}
main{
    max-width: 1230px;
    margin: 0 auto;
}
#main-menu>li.has-child::after{
    content: "asas";
    color: red;
}
.menu-top{
    font-size: 15px;
    height: 40px;
    padding: 10px 55px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    justify-items: center;
   
}
.menu-top li{
    position: relative;
}
.menu-top ul{
    display: flex;
    list-style: none; 
    padding-inline-start: 0px;
}
.menu-topleft{
    padding: 0px 15px 0px 0px;
}
.menu-topleft li{
    position: relative;
}
.menu-topleft li a{
    color: #6e6e6e;
    display: block;
    padding: 0px 30px 0px 0px ; 
    text-decoration: none;
}
.menu-topleft ul.sub-menu{
    position: absolute;
    background-color: #cfcbcb;
    color: #000;
    display: none;
}

.menu-topleft li:hover ul.sub-menu{   
    display: block;
}
.menu-topleft ul.sub-menu a{
    border-bottom: 1px solid #f3f3f3;
}
.menu-topright li{
    text-transform: none;
    padding: 0px 0px 0px 30px;
}
.menu-topright li a {
    color: #6e6e6e;
    display: block;
    text-decoration: none;
    font-weight: 500;
}
.menu-main{
    padding: 10px 70px;
}
.menu-main .col-sm-3{
    padding: 0;
}
.seach{
    border: 2px solid #007aff;
    border-radius: 5px;

}
.form-control{ 
    color: red;
    box-shadow: none;
    font-size: 16px;
    padding: 20px;
    font-weight: 500;
    border: 2px solid #fff;

}
.btn-search{
    border: 2px solid #007aff;
    background-color: #007aff;
    padding: 12px 15px;
}
.btn-search i{
    font-size: 15px;
    color: #fff;
}
/* menu-main */
.menu-main .position-absolute{
    font-size: 16px;
    font-weight: 600;
    right: 70px;
}
.menu-main .tools{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding: 0;  
    color:#007aff; 
}
.menu-main .tools a{
    color: #000;
    padding-right: 40px;
}
.menu-main .tools p{
    font-weight: bold;
}
.menu-main .tools span{
    font-weight: 600;
    font-size: 11px;
    margin: 10px;
    display: flex;
    color: #000;
    position: absolute;
    background-color: #f5f5f5;
    height: 20px;
    width: 20px;
    border-radius: 40px;
    border: 1px solid #eeeeee;
    justify-content: center;
    align-items: center;
}
.menu-btnmain{
    padding: 20px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;   
}

.menu-btnmain ul{
    display: flex;
    list-style: none; 
    padding-inline-start: 0px;
}
.menu-btnmain li{
    position: relative;
}
.menu-btnmain li a{
    text-transform: uppercase;
    color: #000;
    display: block;
    text-decoration: none;
}
.menu-btnmain ul.sub-menu{
    position: absolute;
    background-color: #cfcbcb;
    color: #000;
    display: block;
}
.menu-btnmain a:hover{
    color: red;
}
.menu-btnmain .sub-menu li a{
    width: 120px;
    padding: 5px;
}


.menu-botton{
    padding: 10px 70px;
}
.menu-botton .row{
    display: flex;
}
.menu-botton li a {

    font-size: 15px;
    font-weight: 700;
}
.menu-botton li:hover ul.sub-menu{
    display: block;
}
.menu-bottton ul.sub-menu a{
    width: 130px;
    text-transform: none;
    border-bottom: 1px solid #333;
}
#container-slideshow{
    margin: 0;
    width: 100%;
}
.carousel-item{
    text-align: center;
}
.carousel-item .active{
    background-color: #f5f5f5;
}
#container-slideshow .carousel-inner .row{
    height: 800px;
    background-color: #f5f5f5;
}
#container-slideshow .more a{ 
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border: 3px solid #007aff;
    border-radius: 3px;
    color: #007aff;
}
/* #container-slideshow .carousel-indicators{
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
} */
.arousel-item-infor{
    padding-left: 60px;
    padding-top: 20%;
    text-align: left;
}
.carousel-inner .arousel-item-infor span{
    font-size: 17px;
    color: #9c9c9c ;
    text-transform: uppercase;
}
.arousel-item-infor .company {
    text-transform: uppercase;
    font-size: 35px;
}
.arousel-item-infor p{
    font-size: 35px;
}
.carousel-inner .cate-infor{
    color: #000;
}
.item-active{
    text-align: left;
}
.item-active img{
    padding-top: 10%;
}
.menu-btnleft{
    padding: 0;
} 
.menu-btnleft li{
    padding: 20px;
    width: 300px;
    list-style: none;
    background: #007aff;
    border-radius: 5px;
}

.menu-btnleft a{
    color: #fff;
    text-transform: uppercase;
}
.menu-btnleft a:hover{
    text-decoration: none;
}
.menu-btnright {
    font-size: 20px;
    color: #007aff;
}
.menu-btnright a:hover{
    text-decoration: none;
}
.category{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.category .type{
    border: 10px solid #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 250px;
    width: 400px;
}
.category .p{
    width: 50px;
}
.category .company{
    padding: 0;
    margin: 0
}
.category .category-name{
    font-size: 25px;
}
.category .cate-infor{
    padding: 70px 0px 0px 30px;
    color: #fff;
}
.cate-infor .category-more{
    font-size: 15px;
    border-bottom: 2px solid #ffffff;
    text-transform: uppercase;
    color: #fff;
}
.cate-infor .company{
    text-transform: uppercase;
}
.cate-pic{
    overflow: hidden;
}
.cate-pic img{
    padding: 40px 0px 0px 0px;
    width: 300px;
}
.discober{
    padding: 20px 0px;
}
.full-category{
    margin: 50px 0px;
}
.full-category p{
    font-size: 20px;
}
.selling-product{
    padding: 0;
}
.selling-product h3{
    display: contents;
}
.chevron{
    color: #a2a2a2;
    font-size: 25px;
}
.transfer{
    padding: 20px 0px;
}
.transfer .fa-solid {
    height: 45px;
    width: 45px;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
    border: 2px solid #eeeeee;
    border-radius: 30px;
    
}
.catalog a{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    color: #007aff;
}
.catalog a:hover{
    text-decoration: none;
}
.carousel-indicators li{
    margin: 2px;
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid #007aff;
}
.carousel-indicators .active{
    margin: 2px;
    width: 10px;
    height: 10px;
    border: 40px;
    border: 2px solid #007aff;
    background-color: #007aff;
}
.selling-product{
    display: grid;
}
.list-product{ 
    margin: 0;
    padding: 0; 
    display: flex;  
    justify-content: space-around;
}
.lst-picproduct{
    text-align: center;
}
.lst-picproduct img{
    padding: 10px 0px 50px 0px;
    width: 60%;
}
.lst-picproduct p{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.deals-month {
    margin: 50px 0px;
}
.deals-month .sale{
    margin: 0;
    padding: 0;
    border: 3px solid #fff; 
    border-radius: 5px;
}
.deals-month .sale:hover{
    transition: 0.5s;
    border: 3px solid #4cda64; 

}
.deals-month .sale .product img{
    padding: 10px 0px;
    width: 90%;
}
.deals-month .sale .deal{
    padding-bottom: 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #eeeeee;
}
.deals-month .sale .deal h2{
    margin: 0 auto;
}
.deals-month .sale .deal p{
    padding: 10px;
}
.deals-month .sale .deal a{
    color: #a2a2a2;
    font-size: 25px;
}
.deals-month .sale .product{
    padding-bottom: 10px;
    border-bottom:2px solid #eeeeee;
}
.deals-month .product{
    padding-bottom: 10px;
}
.deals-month {
text-align: center;
}
.deals-month img{
    margin: 30px 0px;
    width: 250px;
}
.deals-month .carousel-indicators{
    position: absolute;
    bottom: -10%;
    margin: 0 auto;
}
.deal-sale--green{
    top: 13%;
    right: 5%;
    background: #4cda64;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deal-sale--green .deals-name{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #fff;
}
.deal-sale--green .deals-price{
    font-weight: 700;
    font-size: 23px;
    padding: 0;
    margin: 0;
    color: #fff;
}
.deal-sale--yelllow{
     background: #ffcc00;
}
.deal-sale--yelllow .deals-price {
    font-size: 13px;
    color: #000;
    font-weight: bolder;
    width: 40px;
    height: 20px;
}
.deal-sale--red{
    background: red;
}
.deal-sale--red .deals-price {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: bolder;
    width: 40px;
    height: 20px;
}
.splide__arrows i{
    font-size: 30px;
    color: #7f7f7f;
}
.deals-month .sale .price{
   
    align-items: center;
    justify-content: center;
    display: flex;
}
.deals-month .sale .price h1{
    margin: 0;
    color: #007aff;
}
.deals-month .sale .price strike{
    padding: 2px 0px 0px 10px;
    font-size: 18px;
    color: #cccccc;
}
.deals-month .sale .info{
    padding-top: 5px;
    font-size: 15px;
    color: #737373;
    align-items: center;
    justify-content: center;
    display: flex;
}
.deals-month .sale .info p{
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
}
.deals-month .status{
    margin: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.deals-month .status p{ 
    color: #7f7f7f;
    font-size: 18px;
    width: 100%;
}
.deals-month .product-sale{
    padding-bottom: 30px;
    border-bottom: 2px solid #eeeeee ;
}
.deals-month .available b{
    color: #4cda64;
}
.deals-month .already b{
    color: red;
}
.deals-month .end{
    text-align: center;
    padding-top: 20px;
}
.deals-month .end h1{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.deals-month .end p{
    font-size: 18px;
    padding-top: 5px;
    color: #737373;
}

.deals-month .time-sale {
    width: 80%;
    margin: auto;
}
.deals-month .time-sale p{
    height: 45px;
    width: 45px;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 30px;
    border: 2px solid #eeeeee;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold; 
}
.deals-month .time-sale b{
    font-size: 16px;
    width: 45px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
}
.product-list-sale{
    margin-bottom: 10px;
    display: flex;
}
.list-sale{
    align-items: center;
    padding: 33px 0px 25px 25px;
}
.list-sale .product {
    margin-top: 20px;
    border-right: 2px solid #eeeeee;
    font-size: 11px;
    width: 60%;
}
.menu-product{
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 17px;
}
.menu-change{  
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    list-style: none; 
}
.menu-change a{
    font-weight: 500;
    color: #a9a9a9;
    font-size: 20px;
}
.menu-change a:hover{
    color: red;
    transition: 0.3s;
    text-decoration: none;
}
.change{
    padding: 0;
    text-align: right;
}
.change i{
    color: #a9a9a9;
    padding-left: 10px;
    font-size: 25px;
}
.change-hover-hot{
    margin-top: -5px;
    transition: 1s;
    display: none;  
}
.change-hover-hot a{
    padding-bottom: 5px;
}
.product-hot:hover .change-hover-hot{
    display: grid;
}
.product:hover .change-hover-hot{
    display: grid;
}
.change-hover-hot i {
    font-size: 20px;
    border-radius: 40px;
    background: #f5f5f5;
    padding: 10px;
    color: #000;
}
#hot-new-arrivals.col-sm-3{
    padding: 0;
}
.change-hover{
    padding: 10px 0px;
    display: grid;
    font-size: 30px;
}
.change-hover i{
    font-size: 25px;
    border-radius: 40px;
    background: #f5f5f5;
    padding: 15px;
    color: #000;
}
.change-hover a{
    padding: 10px 0px;
}
.product{
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    
}
.product img{
    padding-bottom: 20px;
    margin: 0;
    width: 60%;
}
.product .price{
    align-items: center;
    justify-content: center;
    display: flex;
}
.product .price-cost{
    font-size: 17px;
    color: #a9a9a9;
}
.product h4{
    color: #007aff;
}
.product p{
    font-weight: 500;
    color: #737373;
    font-size: 15px;
    margin: 0 auto; 
}
/* .product .price h3{
    color: #007aff;
} */
.product h3{
    color: #007aff;
}
.title-header{
    padding: 0;
}
#best-seller-product{
    padding: 20px 0px;
}
#best-seller-product .best-seller{
    border-bottom: 2px solid #eeeeee;

}
#best-seller-product .list-product{
    padding-top: 20px;
}
#best-seller-product .row{  
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
#best-seller-product h3{
    padding-right: 20px;
    margin: 0;
}
#best-seller-product .product{
    width: 6.5%;
    margin: 0;
    border: 2px solid #fff;
    padding: 20px 10px;
}
#best-seller-product .product:hover{
    transition: 0.8s;
    border: 2px solid #5ac8fb;
    border-radius: 5px;
}
#today-detals{
    background-color: #f5f5f5;
    text-align: center;
    margin: auto;
    padding: 70px 0px;
}
#today-detals .carousel-indicators{ 
    margin: 0px auto;
    bottom: -7%;
}
#today-detals .menu-product{
    margin: 20px 60px;
}
#today-detals .menu-change{
    width: 70%;
    margin: 0 auto;
}
#today-detals .detail-slideshow{
    padding-top: 20px;
    margin-top: 7px;
    background-color: #fff;
    border: 1px solid #ededed;  
}
#today-detals .detail-slideshow .price{
    font-size: 20px;
    padding: 0;
}
#today-detals .detail-slideshow .description{
    font-size: 15px;
}
#today-detals .detail-slideshow .product-hori{
    margin: 0;
    border: none;
    padding: 0;
}
.today .card-image img{
    width: 80%;
}
.today .outstanding {
    padding: 0;
    list-style: none;
    text-align: left;
    margin: 0;
    color: #a3a3a3;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}
.today .add-to-cart{ 
    max-width: 100%;  
    border: none;
    color: #fff;
    background: red;
    padding: 10px 50px;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 100px;
    margin-top: 30px ;
}
.today .description{
    padding: 0;
    margin: 0;
}


.product-hori {
    background-color: #fff;
    border: 2px solid #eeeeee;
    margin: 7px 0px;
    padding: 10px 20px;
    flex-direction: row;
}
.product-hori .thumbnail{
    border: none;
    padding: 0;
    margin: 0;
}
.product-hori img{
    width: 90%;
}
.product-hori .detail{
    text-align: left;
    padding: 0;
}
.product-hori .detail .price {
    font-size: 12px;
    font-weight: 600;
    color: #007aff;
}
.product-hori .detail .description{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    color: #737373;
}
.product-hori .evaluate{
    display: flex;
    align-items: baseline;
}
.product-hori .evaluate span{
    padding-left: 5px;
    font-weight: 500;
    font-size: 12px;
}
.carousel-item .today{
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
}  
#hot-new-arrivals{
    padding: 50px 0px;
}
#hot-new-arrivals .carousel-indicators{
    margin: 0px auto;
    bottom: -4%;
}
#hot-new-arrivals .hot-new{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #eeeeee;
}
#hot-new-arrivals .menu-product{
    border: none;
}
#hot-new-arrivals .product-list-hot{
    display: flex;
    justify-content: space-between;
}
#hot-new-arrivals .col-sm-2{
    padding: 0;
    margin: 0;
}
#hot-new-arrivals .product{
    padding: 20px 20px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-right: 2px solid #eeeeee;
}
#hot-new-arrivals .product:hover{
    transition: 0.8s;
    border: 2px solid #5ac8fb;
    border-radius: 5px;
}
#hot-new-arrivals .product p{
    width: 100%;
}
#hot-new-arrivals .product img{
    padding-bottom: 30px;
    width: 60%;
}
#hot-new-arrivals .product-hot{
    border: 2px solid #fff;
    padding: 20px;
}
#hot-new-arrivals .product-hot:hover{
    transition: 0.8s;
    border: 2px solid #5ac8fb;
}
#hot-new-arrivals .product-list-hot{
    padding-top: 20px;
    font-weight: 500;
    width: 100%;
    color: #000;
    display: flex;
}
#hot-new-arrivals .product-hot img{
    width: 54%;
    padding-bottom: 20px;
}
#hot-new-arrivals .product-hot .price{
    align-items: center;
    justify-content: center;
    display: flex;
}
#hot-new-arrivals .product-hot .price h1{
    margin: 0;
    color: #007aff;
}
#hot-new-arrivals .product-hot .price strike{
    padding: 2px 0px 0px 10px;
    font-size: 18px;
    color: #cccccc;
}
#hot-new-arrivals .product-hot .info{
    padding-top: 5px;
    font-size: 15px;
    color: #737373;
    align-items: center;
    justify-content: center;
    display: flex;
}
#hot-new-arrivals .product-hot .info p{
    text-transform: capitalize;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
}
#hot-new-arrivals p{
    color: #000;
}
#recommended{
    padding: 0px;
    background-color: #f5f5f5;
}
#recommended .title{
    text-align: left;
}
#recommended .title h1{
    padding: 30px 0px 0px 50px;
    padding-right: 0;
    margin: 0;
}
#recommended .title img{
    width: 350px;
}
#recommended .list-product {
    padding: 15px 70px 0px 0px;
}
#recommended .list-product .product{
    border-bottom: 2px solid #ededed;
    height: 270px;
    width: 200px;
    background-color: #fff;
    margin: 5px;
}
#recommended .list-product .product img{
    padding-top: 20px;
    width: 70%;
}
#recommended .carousel-indicators{
    margin: 0 auto;
    bottom: 5%;
}
.fas{
    color: #ffd733;
}
#trending{
    padding: 20px 0px;
}
#trending .trending-header{
    border-bottom: 2px solid #eeeeee;
}
#trending .menu-product{
    border: none;
}
#trending .product {
    width: 250px;
    border: 2px solid #fff;
    border-radius: 5px;
}
#trending .product:hover{
    transition: 0.8s;
    border: 2px solid #5ac8fb;
    border-radius: 5px;
}
.trending-name{
    border-bottom: 2px solid #eeeeee;
}
#trending img{
    width: 70%;
}
#recently-viewed .recently-viewed{
    padding: 10px 0px;
    border-bottom: 2px solid #eeeeee;
}
#recently-viewed .list-product-hori{
    padding-top: 20px;
}
#recently-viewed{    
    padding: 20px 0px;
}
#recently-viewed .product-hori{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #eeeeee;
}
#recently-viewed .product-hori .detail .description{ 
    font-size: 18px;
    height: 50px;
}
#recently-viewed .product-hori .detail .price{ 
    font-size: 18px;
}
#brands-shops {
    text-align: center;
    padding: 70px 0px;
    display: flex;
    justify-content: space-around;
}
#brands-shops img{
    width: 70%;
}

.on-sale-producs{
    padding: 20px 0px;
}
.on-sale-producs .col-sm-2{
    padding: 0;
}
.on-sale-producs .product-hori{
    border: none;
    border-top: 2px solid #eeeeee;
    padding: 10px 0px;
}
.on-sale-producs .product-hori .detail .description{
    font-size: 11px;
    padding: 0;
    margin: 0;
}
.on-sale-producs .product-hori img{
    width: 85%;
}
.on-sale-producs .product-hori .evaluate{
    padding: 5px 0px;
    justify-content: space-between;
    width: 50%;
}
.features {
    border-top: 2px solid #eeeeee;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}
.features .col-sm-2{
    border-right: 2px solid #cdcdcd;
}
.features .thumbnail{
    background: none;
    border: none;
    padding: 0;
    margin: 0;  
}
.features .thumbnail img{
   width: 80%;
}
.features h4{
    font-weight: bold;
}
.features span{
    font-weight: 400;
    font-size: 14px;
}
.features .col-sm-7{
    padding: 0;
}





footer{
    max-width: 1230px;
    margin: 0 auto;
}
.main-footer{
    border-top: 1px solid #ececec;
    background-color: #f5f5f5;
    padding: 20px 70px;
}
.icon-inner{
    display: block;
}
.icon-inner{
    display: flex;
}
.inner a h4 {
    font-weight: 500;
    color: #000;
}
.inner a { 
    text-decoration: none;
    display: block;
    color: #626262;
    padding: 5px 0px;
    font-size: 13px;
    font-weight: 500;
}
.inner-right span{
    font-size: 13px;
    color: #9c9c9c;
}
.inner-right .icon-inner{
    color: #d0d0d0;
    padding-top: 20px;
}
.inner-right a{
    padding-right: 10px;
    font-size: 20px;
    color: #d0d0d0;
}
.inner span{
    color: #626262;
    font-size: 12px;
}
.phone {
    font-size: 15px;
}
.footer-end {
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 0px 70px;
    background-color: #eeeeee;
}
.footer-end img {
    padding: 5px;
    background: #fff;
    width: 70%;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}
.footer-end .bank{
    display: flex;
    padding: 0;
    padding-right: 70px;
}
.footer-end p{
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #989898;
}
.footer-end .feedback{
    padding: 0;
}
.input-group{
    margin-left: 43%;
    display: flex;
    width: 65%;
    text-align: right;
    padding-right: 20;
}
.input-group .placeholder{
    color: #999999;
}
.input-group-text{
    font-size: 15px;
    color: #007aff;
    background: #fff;
    border: none;
}
.content .content-top p{
    font-weight: 500;
    color: #737373;
    font-size: 15px;
}